[mysqld_safe]
log-error=/mnt/logs/mysql/mysql.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
port        = 3306
socket      = /var/lib/mysql/mysql.sock

default-character-set=utf8

[mysqld]
default-storage-engine = InnoDB 
datadir     =/sgn/mysql/data
port        = 3306
socket      = /var/lib/mysql/mysql.sock
skip-external-locking

#
# used for myISAM tables should be kept small
#
key_buffer = 384M
max_allowed_packet=16M
#
# this caches fd and should be double the size of max_connections at least
#
table_cache = 8192
#
# these are thread based buffers that can grow the process size
#
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
myisam_sort_buffer_size = 1M
#
# when mysql creates tmp tables use this much memory before going to disk
#
tmp_table_size = 64M
#
# thread cache size should be the size of your average running queries
#
thread_cache_size = 2048
#
# turn off the query cache
#
query_cache_size = 1M
query_cache_type = 0
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8
open-files-limit=32767
max_connections=3000
max_connect_errors=999999999
wait_timeout=600
back_log=8192

long_query_time=2
log-slow-queries=/mnt/logs/mysql/slow.log
#log-queries-not-using-indexes
#log=/sgn/mysql/log/all.log

# do not make reverse DNS lookups connect via IP
skip-name-resolve

# Disable Federated by default
skip-federated

# Replication Master Server (default)
# binary logging is required for replication
#log-bin=mysql-bin

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id   = 1

innodb_data_home_dir = /sgn/mysql/innodb
# allows innodb tables to be compressed 
innodb_file_format = Barracuda
innodb_data_file_path = ibdata1:2000M;ibdata2:2000M:autoextend
innodb_log_group_home_dir = /sgn/mysql/innodb
innodb_buffer_pool_size = 10G
innodb_additional_mem_pool_size = 16M
innodb_log_file_size = 1G
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 30
# how many threads can act inside INNODB
innodb_thread_concurrency = 1000
# means larger queries that span more rows have a higher precedence then primary key lookups. Good for farm
innodb_concurrency_tickets = 3000
# how long a thread sleeps before joining the queue
innodb_thread_sleep_delay = 100
default-character-set=utf8
# transaction-isolation = READ-COMMITTED
transaction-isolation = READ-COMMITTED
innodb_read_io_threads = 8 
innodb_write_io_threads = 8
innodb_io_capacity = 600
innodb_adaptive_checkpoint = keep_average
innodb_adaptive_flushing = 1
innodb_open_files=1500
table_definition_cache=2000
innodb_log_block_size=512

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
