*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
.DS_Store
*.exe

prof/
servant/gen-php/
servant/gen-go/
servant/gen-py/
servant/gen-java/
var/
log/
profiler/
daemon/faed/faed
client/go/stress/stress
client/go/broken/broken
faed.lock
*.class
etc/faed.cf
etc/faed.cf.rc
client/go/pingfae/pingfae
metrics.log
panic.dump
