{
    etcd_servers: [
        "127.0.0.1:2181",
    ]
    etcd_self_addr: ":9001"

    http_listen_addr: ":9002"
    pprof_listen_addr: "localhost:6060"
    cpu_num: "max"
    metrics_logfile: "metrics.log"

    rpc: {
        listen_addr: ":9001"
        // protocol: binary | json | simplejson | compact
        protocol: "binary"
        framed: false
        buffer_size: 4096
        max_outstanding_sessions: 10000
        session_timeout: "0s"
        session_slow_threshold: "8s"
        io_timeout: "3s"
        stats_output_interval: "10m"
    }

    servants: {
        data_center_id: 1
        agent_id: 1

        session_entries: 20000
        stats_output_interval: "10m"
        profiler_max_body_size: 600
        call_slow_threshold: "200ms"
        // 10/1000 = 1%
        profiler_rate: 1000

        proxy: {
            self_addr: ":9001"
            pool_capacity: 50
            idle_timeout: "0s"
            diagnostic_interval: "30s"
            borrow_max_seconds: 10
            tcp_nodelay: true
        }

        mysql: {
            connect_timeout: "4s"
            io_timeout: "10s"
            cache_max_items: 1073741824

            breaker: {
                failure_allowance: 5
                retry_interval: "10s"
            }

            // non sharded pools
            global_pools: [
                "ShardLookup",
                "Global",
                "Tickets",
                "AllianceLookup",
                "WorldLookup",
            ]

            servers: [
                {
                    pool: "ShardLookup"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "ShardLookup"
                }
                {
                    pool: "Tickets"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "Tickets"
                }
                {
                    pool: "UserShard1"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "UserShard1"
                }
                {
                    pool: "WorldShard1"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "WorldShard1"
                }
                {
                    pool: "AllianceShard1"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "AllianceShard1"
                }
            ]
        }

        mongodb_offline: {
            debug_heartbeat: false
            debug_protocol: false
            shard_base_num: 100000
            shard_strategy: "legacy"
            connect_timeout: "4s"
            io_timeout: "30s"
            heartbeat_interval: 30
            max_idle_conns_per_server: 20
            max_conns_per_server: 50
            breaker: {
                failure_allowance: 5
                retry_interval: "10s"
            }
            servers: [
                {
                    pool: "log"
                    host: "127.0.0.1"
                    port: 27017
                    db: "royal_log"
                    replicaSet: ""
                }
                {
                    pool: "default"
                    host: "127.0.0.1"
                    port: 27017
                    db: "royal_0"
                }
                {
                    pool: "db1"
                    host: "127.0.0.1"
                    port: 27017
                    db: "royal_1"
                }
            ]
        }

        lcache: {
            lru_max_items: 1073741824
        }

        redis: {
            breaker: {
                failure_allowance: 5
                retry_interval: "10s"
            }
            pools: [
                {
                    name: "default"
                    servers: [
                        {
                            addr: "127.0.0.1:6379"
                            max_idle: 5
                            max_active: 10
                            idle_timeout: "360s"
                        }
                    ]
                }
            ]
        }

        memcache: {
            hash_strategy: "standard"
            max_conns_per_server: 200
            max_idle_conns_per_server: 20
            timeout: "4s"
            replica_num: 2
            breaker: {
                failure_allowance: 5
                retry_interval: "10s"
            }
            servers: [
                {
                    pool: "default"
                    host: "127.0.0.1"
                    port: "11211"
                }
            ]
        }

        couchbase_offline: {
            servers: [
                "http://localhost:8091/",
            ]
        }

    }

}
