{
    etcd_servers: [
        {etcd_servers}
    ]

    reload_watchdog_interval: "1s"
    http_listen_addr: {http_listen_addr}
    // localhost:xx/debug/pprof/
    pprof_listen_addr: {pprof_listen_addr}
    cpu_num: "max"
    metrics_logfile: {metrics_logfile}
    server_mode: true

    rpc: {
        listen_addr: {rpc_listen_addr}
        // protocol: binary | json | simplejson | compact
        protocol: "binary"
        framed: false
        buffer_size: 4096
        prefork_mode: true
        max_outstanding_sessions: 50000
        warn_too_many_sessions_threshold: 6000
        session_timeout: "0s"
        io_timeout: "4s"
        stats_output_interval: "10m"
    }

    servants: {
        idgen_worker_id: {idgen_worker_id}

        session_max_items: 20000
        stats_output_interval: "10m"
        profiler_max_body_size: 600
        call_slow_threshold: "1s"
        // 100/10000 = 1%
        profiler_rate: 1

        proxy: {
            pool_capacity: 300
            io_timeout: "0s"
            idle_timeout: "0s"
            diagnostic_interval: "5s"
            borrow_max_seconds: 4
            buffer_size: 4096
            tcp_nodelay: true
        }

        mysql: {
            timeout: "10s"
            max_idle_time: "4h"
            max_idle_conns_per_server: 5
            max_conns_per_server: 50
            cache_prepare_stmt_max_items: 1024
            cache_store: "mem"
            cache_key_hash: false
            cache_store_mem_max_items: 1073741824
            //cache_store_redis_pool: "db_cache"
            json_merge_max_outstanding_items: 8388608
            shard_strategy: "standard"
            allow_nullable_columns: true

            breaker: {
                failure_allowance: 10
                retry_interval: "5s"
            }

            lookup_cache_max_items: 1048576
            lookup_pool: "ShardLookup"
            lookup_tables: {
                "UserShard": "UserLookup"
                "AllianceShard": "AllianceLookup"
                "ChatShard": "ChatLookup"
                "WorldShard": "WorldLookup"
            }

            // non sharded pools
            global_pools: [
                "ShardLookup",
                "Global",
                "Tickets",
                "AllianceLookup",
                "WorldLookup",
            ]

            servers: [
                {
                    pool: "Global"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "Global"
                }
                {
                    pool: "ShardLookup"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "ShardLookup"
                }
                {
                    pool: "Tickets"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "Tickets"
                }
                {
                    pool: "UserShard1"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "UserShard1"
                }
                {
                    pool: "WorldShard1"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "WorldShard1"
                }
                {
                    pool: "AllianceShard1"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "AllianceShard1"
                }
                {
                    pool: "ChatShard1"
                    host: "127.0.0.1"
                    port: 3306
                    username: "hellofarm"
                    password: "halfquestfarm4321"
                    db: "ChatShard1"
                }
            ]
        }

        mongodb_offline: {
            debug_heartbeat: false
            debug_protocol: false
            shard_base_num: 100000
            shard_strategy: "legacy"
            connect_timeout: "4s"
            io_timeout: "30s"
            heartbeat_interval: 30
            max_idle_conns_per_server: 20
            max_conns_per_server: 50
            breaker: {
                failure_allowance: 10
                retry_interval: "5s"
            }
            servers: [
                {
                    pool: "log"
                    host: "127.0.0.1"
                    port: 27017
                    db: "royal_log"
                    replicaSet: ""
                }
                {
                    pool: "default"
                    host: "127.0.0.1"
                    port: 27017
                    db: "royal_0"
                }
                {
                    pool: "db1"
                    host: "127.0.0.1"
                    port: 27017
                    db: "royal_1"
                }
            ]
        }

        lcache: {
            max_items: 10485760
        }

        game: {
            shard_split_strategy: {
                kingdom: 18000
                user: 200000
                alliance: 2000
                chat: 2000000
            }
            namegen_length: 3
            lock_max_items: 1048576
            lock_expires: "5s"
            redis_server_pool: "game"
        }

        redis: {
            breaker: {
                failure_allowance: 10
                retry_interval: "5s"
            }
            pools: [
                {
                    name: "default"
                    servers: [
                        {
                            addr: "127.0.0.1:6379"
                            max_idle: 5
                            max_active: 50
                            idle_timeout: "0s"
                        }
                    ]
                }
                {
                    name: "game"
                    servers: [
                        {
                            addr: "127.0.0.1:6379"
                            max_idle: 5
                            max_active: 50
                            idle_timeout: "0s"
                        }
                    ]
                }
                {
                    name: "naming"
                    servers: [
                        {
                            addr: "127.0.0.1:6379"
                            max_idle: 5
                            max_active: 50
                            idle_timeout: "0s"
                        }
                    ]
                }
            ]
        }

        memcache_offline: {
            hash_strategy: "standard"
            max_conns_per_server: 200
            max_idle_conns_per_server: 20
            timeout: "4s"
            replica_num: 2
            breaker: {
                failure_allowance: 10
                retry_interval: "5s"
            }
            servers: [
                {
                    pool: "default"
                    host: "127.0.0.1"
                    port: "11211"
                }
            ]
        }

        couchbase_offline: {
            servers: [
                "http://localhost:8091/",
            ]
        }

    }

}
